.hamburger{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 30px;
    display: inline-block;
    margin-top: 5px;
    z-index: 3;
    transition: .5s all;
}

.navigation{
    position: absolute;
    height: 100%;
    width: 300px;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    left: -300px;
    transition: .5s all;
    z-index: 1;
    
    
}

.hamburger::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
    top: calc(50% - 3.1px);
}

.hamburger::after{
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
    bottom: 2px;

}

.hamburger_line {
    top: 0;
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
}

.hamburger-transform {
    transform: rotate(90deg);
    transition: .5s all;
}

.burger {
    position: relative;
    top: 20px;
}

.show-burger{
    left: 0px;
    animation-duration: 0.5s;
    animation-name: slidein;
}

.nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 125px 50px 50px;
}

.nav-item{
    padding-top: 10px;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    cursor: pointer;
}

.nav-item:hover{
    color: aliceblue;
}

.select-nav-item{
    color: darkseagreen;
}


@keyframes slidein {
    from {
        left: -300px;
    }
    to {
        left: 0;
    }
}

