.hamburger{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 30px;
    display: inline-block;
    margin-top: 5px;
    z-index: 3;
}

.hamburger::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
    top: calc(50% - 3.1px);
}

.hamburger::after{
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
    bottom: 2px;

}

.hamburger_line {
    top: 0;
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(100, 98, 98);
}

.hamburger-transform {
    margin-top: -12px;
    transform: rotate(90deg);
}

.burger {
    position: relative;
    top: 20px;
}